body{
	margin: 0px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
}

/*####### navbar #######*/

#navbar-wrapper {
	background: #211c1e7a;

}

.nav-link{
	padding: 5px;
	color: white;
	font-size: 1.5em;
}

.nav-link:hover{
	border-bottom: 2px solid white;
	color: white;
}

.navbar-brand{
	font-size: 1.5em;
	color: white;
}

.navbar-brand:hover{
	text-decoration: none;
	color: white;
}

/*###### Header ##########*/

#header-wrapper{
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://res.cloudinary.com/it-s-tech/image/upload/v1584899473/black-flat-screen-computer-monitor-1714208_cfpj79.jpg)center/cover no-repeat fixed;
	height: 100vh;
	color: white;
}

.header-inner-div{
	border-top: 3px solid #561a25;
}

#header-about-me-link{
	padding: 10px;
	border: 3px solid #561a25;
	color: white;
	background: transparent;
	margin-top: 5px;
	font-size: 1.5em;
}

#header-about-me-link:hover{
	border: 2px solid white;
	text-decoration: none;
}



/*######### Home page #########*/

.row-div{
	border-bottom: 2px solid #a03749;
	color: #561a25;
}

.about-skill-list{
	list-style: none;
}

.about-skill-list-item{
	display: inline;
	padding: 10px;

}

.project-links {
	background: #262626;
	padding: 5px;
	color: #e43f5c;
	border: 2px solid #e43f5c;
}

.project-links:hover{
	background: #c7baba;
	text-decoration: none;
	color: #e43f5c;
}

.technology-span{
	padding: 2px;
	color: #e43f5c; 
}

#technology-div{
	border-top: 2px solid #a03749;
	padding-top: 3px;
}

#project-title{
	font-weight: 700;
	color: black
}

.twitter {
	color: #3a8de6;
	padding: 10px;
	font-size: 5em;
}

.linkedin{
	padding: 10px;
	font-size: 5em;
	color: #3a8de6;
}

.facebook{
	color: #3a8de6;
	padding: 10px;
	font-size: 5em;

}

.phone{
	color: black;
	padding: 10px;
	font-size: 1.2em;
}

.email{
	color: black;
	padding: 10px;
	font-size: 1.2em;
}

.github{
	padding: 10px;
	font-size: 5em;
	color: black;
}

#footer{
	padding: 30px;
	border-top: 2px solid black;
}


.card{
	border: none;
}

.about-icons{
	padding: 15px;
	font-size: 3em;
	background: #262626;
	color: #e43f5c;
	border: 2px solid white;
	border-radius: 50px;
}