<div class="container-fluid d-flex justify-content-center align-items-center" id="header-wrapper">
  <div class="header-inner-div py-5 text-center">
    <h1>Hi There!! Am Nyaga Andre Roy</h1>
    <h3 class="mb-5">Ruby On Rails Full-Stack Developer(React/Redux)</h3>
    <a id="header-about-me-link" href="#about">About Me</a>
  </div>
</div>
