<div class="container-fluid d-flex justify-content-center align-items-center wow animate__flipInX" id="header-wrapper"data-wow-duration="4s">
  <div class="header-inner-div py-5 text-center">
    <h1 class="wow animate__bounceInDown" data-wow-duration="5s">Hi There!! I Am Nyaga Andre Roy</h1>
    <h3 class="wow animate__bounceInLeft mb-5" data-wow-duration="10s" >Ruby On Rails Full-Stack Developer(React/Redux)</h3>
    <a class="wow animate__fadeOut" data-wow-delay="1s" data-wow-duration="8s" id="header-about-me-link" href="#about">About Me</a>
  </div>
</div>

