<nav class="navbar navbar-expand-md fixed-top" id="navbar-wrapper">
	<a class="navbar-brand" href="/">Nyaga Roy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"><i class="fas fa-sliders-h text-white"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
  	<ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
  		<li class="nav-item">
  			<a class="nav-link" href="#projects">Projects</a>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" href="#contact">Contact</a>
  		</li> 		
  	</ul>
  </div>
</nav>